---
import "../../styles/global.css";
import type { SanityDocument } from "@sanity/client";
import { GET } from "../api/posts";

const response = await GET(Astro);
const posts: SanityDocument[] = await response.json();
console.log("astro", Astro);

console.log("posts", posts);
---

<main class="container mx-auto min-h-screen max-w-3xl p-8 mt-2">
  <h1 class="text-4xl font-bold mb-8">Posts</h1>
  <ul class="flex flex-col gap-y-4">
    {
      posts.map((post) => (
        <li class="hover:underline">
          <a href={`/posts/${post.slug}`} class="shift-glitch">
            <h2 class="text-xl font-semibold">{post.title}</h2>
            {post.subtitle && <p class="text-gray-600">{post.subtitle}</p>}
            <p class="text-sm text-gray-500">
              {new Date(post.publishedAt).toLocaleDateString()}
            </p>
            {post.author && (
              <p class="text-sm text-gray-500">By {post.author.name}</p>
            )}
          </a>
        </li>
      ))
    }
  </ul>
</main>
